[package]
name = "infrared"
version = "0.7.0"
authors = ["Johan Kristell <johan@jott.se>"]
edition = "2018"
description = "Infrared remote control library"
repository = "https://github.com/jkristell/infrared"
readme = "README.md"
keywords = ["infrared", "remote", "rc5", "rc6", "nec"]
categories = ["no-std", "embedded"]
license = "MIT OR Apache-2.0"

[features]
default = ["nec", "rc5", "rc6", "sbp", "embedded-hal", "remotes"]
nec = []
rc5 = []
rc6 = []
sbp = []
remotes = []
std = []

[dependencies]
embedded-hal = {version = "0.2.3", features = ["unproven"], optional = true}
